%h1 Listing breweries

%table
  %tr
    %th
    %th
    %th

  - @breweries.each do |brewery|
    %tr
      %td= link_to 'Show', brewery
      %td= link_to 'Edit', edit_brewery_path(brewery)
      %td= link_to 'Destroy', brewery, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Brewery', new_brewery_path
