.content
  %h1 WOAR — Philadelphia's only rape crisis center
  #addressBox
    One Penn Center
    %br/
    1617 John F Kennedy Blvd.
    %br/
    Suite 1100
    %br/
    Philadelphia, PA 19103
  %p
    %strong
      Women Organized Against Rape is a  
      %br/
      non-profit organization in Philadelphia, Pennsylvania whose mission is to eliminate all forms of sexual violence
    through specialized treatment services, comprehensive prevention education programs, and advocacy for the rights of victims of sexual assault. We provide free counseling for women, men and children who have experienced sexual violence. Please explore our website to learn more about sexual violence and the array of
    %strong services that WOAR can provide to survivors, family members and the community.
  %h2 Current News & Events
  %ul
    %li
      Community Partner Training Series - Learn more about
      %a{:href => "docs/SexualViolence101-2013.docx", :target => "_blank"} sexual violence
      and prevention of
      = succeed "." do
        %a{:href => "docs/ChildSexualAssault-2013.docx", :target => "_blank"} child sexual abuse
      Check out our
      %a{:href => "sexual-assault-training-classes.php"} News & Events
      page for more information or download the flyers.
    %li
      Thanks to everyone for making April a great month for awareness and fundraising! Check out a
      %a{:href => "news-events.php", :target => "_blank"} summary
      of the events.
%br.clearfloat/
#column_bottom  
#paddingBottom  
/ end #mainContent